<section class="page-title-area">
    <div class="container">
        <div class="page-title-content" *ngFor="let pageTitle of pageTitleArea;">
            <h2>{{pageTitle.title}}</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>{{pageTitle.title}}</li>
            </ul>
        </div>
    </div>

    <div class="shape-img1"><img src="assets/img/shape/shape1.svg" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
</section>

<section class="faq-area ptb-100">
    <div class="container">
        <h1 class="wow animate__animated animate__fadeInLeft">Welcome to AiInfox! We value your privacy and are dedicated to protecting your personal information. This Privacy Policy explains what information we collect, how we use it, and how we keep it safe. </h1>
        <div class="faq-accordion mt-3">
            <ul class="accordion">
                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>What information do we collect?</p>
                    </a>

                    <div class="accordion-content">
                        <p>
                            Here's the type of information we gather: 
                        </p>
                        <ul>
                            <li>Personal Information: Your name, email address, telephone number, and all other data that you provide when you contact us, or use our services</li>
                            <li>Usage Data: Includes information about how you use our website, such as IP addresses, browser type and the pages you visit </li>
                            <li>Cookies: Small files, which help us in knowing your preferences and give an enriching experience on our site. </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>What information do we collect?</p>
                    </a>

                    <div class="accordion-content">
                        <p>
                            Here's the type of information we gather: 
                        </p>
                        <ul>
                            <li>Personal Information: Your name, email address, telephone number, and all other data that you provide when you contact us, or use our services</li>
                            <li>Usage Data: Includes information about how you use our website, such as IP addresses, browser type and the pages you visit </li>
                            <li>Cookies: Small files, which help us in knowing your preferences and give an enriching experience on our site. </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
